.footer-container {
  display: flex;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  justify-content: center;
  color: var(--meui-light-text-color);
  text-align: center;
}

.dark-mode .footer-container {
  color: var(--meui-dark-text-color);
}

.footer-content p {
  margin: 0.5em;
}

.footer-copyright-notice {
  color: var(--meui-light-disabled-text-color);
  user-select: none;
}

.dark-mode .footer-copyright-notice {
  color: var(--meui-dark-disabled-text-color);
}
