.website-header {
  height: 10em;
  width: 100vw;
  justify-content: center;
  display: flex;
  background-color: var(--meui-light-background-color);
  user-select: none;
}

.dark-mode .website-header {
  background-color: var(--meui-dark-background-color);
}

.website-header-text {
  display: flex;
  align-items: center;
  font-size: 3.5em;
}

.header-cyber-logo {
  width: 1.75em;
  height: 1.75em;
  margin-right: 0.5em;
}
